body {
    background-color: #f3e0e0;
    justify-content: center;
}

#welcome {
    text-align: center;
}

#welcome p {
    padding-bottom: 20px;
    font-family: 'Roboto', monospace;
}

h1 {
    color: #b33232;
    font-family: 'Rubik', sans-serif;
}

#tableContainer {
    background-color: white;
    align-items: center;
    width: 200px;
    height: 200px;
    margin: auto;
}

#tableRow1, #tableRow2, #tableRow3 {
	display: flex;
    justify-content: space-between;
    padding: 15px 10px 10px 10px;
}

.available {
    border: none;
    border-radius: 100%;
    background-color: #EEE;
    width: 40px;
    height: 40px;
    color: rgb(179, 178, 178);
    font-family: 'Roboto', monospace;
}

.available:hover {
	background-color: gray;
}

#reserveForm {
    display:none;
    flex-direction: column;
    background-color: white;
    padding-left: 40px;
    z-index: 2;
    width: 250px;
    height: 250px;
    padding-top: 2px; 
    box-shadow: 0px 0px 31px 1px rgba(0,0,0,0.3);
}

#tableNumber {
    font-family: 'Roboto', monospace;
    font-size: 13px;
}

h3 {
    color: #b33232;
    font-family: 'Rubik', sans-serif; 
}

input {
    display: block;
    border: none;
    border-bottom: solid;
    width: 200px;
    border-color:#EEE;
    border-width: 1px;
    margin-top: 20px;
    font-family: 'Roboto', monospace;
}

#saveReservation {
    border: none;
    background-color: #008000;
    font-family: 'Roboto', monospace;
    width: 80%;
    margin-top: 20px;
    height: 30px;
    color: white;
    box-shadow: 0px 0px 31px 1px rgba(0,0,0,0.3);
}

@media only screen and (min-width: 768px) {
    h1 {
        font-size: 40px;
    }

    #welcome p {
        padding-bottom: 40px;
        font-size: 20px;
    }

    .available {
        width: 80px;
        height: 80px;
        font-size: 20px;
    }

    #tableContainer {
        width: 325px;
        height: 325px;
    }

    #reserveForm {
        padding-left: 40px;
        width: 350px;
        height: 350px;
        padding-top: 15px; 
    }
    
    #tableNumber {
        font-size: 15px;
    }
    
    h3 {
        font-size: 20px;
    }
    
    input {
        width: 250px;
        margin-top: 40px;
        font-size: 15px;
    }
    
    #saveReservation {
        width: 80%;
        margin-top: 30px;
        height: 30px;
    }
}

@media only screen and (min-width: 992px) {
    h1 {
        font-size: 45px;
    }

    #welcome p {
        padding-bottom: 40px;
        font-size: 20px;
    }

    #tableRow1, #tableRow2, #tableRow3 {
        padding: 22px 20px 20px 20px;
    }

    .available {
        width: 90px;
        height: 90px;
        font-size: 25px;
    }

    #tableContainer {
        width: 400px;
        height: 400px;
    }

    #reserveForm {
        padding-left: 60px;
        width: 400px;
        height: 400px;
        padding-top: 20px; 
    }
    
    h3 {
        font-size: 25px;
    }
    
    input {
        width: 325px;
        margin-top: 45px;
        font-size: 15px;
    }
    
    #saveReservation {
        width: 80%;
        margin-top: 35px;
        height: 35px;
    }
}